body{
    background-color: rgb(99, 99, 99);
}
.produck{
    background-color: white;
    width:1440px;
    height: 1000px;
    margin: auto;
}
.header{
    background-color: black;
    width: 100%;
    height: 80px;
    margin: auto;
}
.logo{
    width: 70px;
    height: 70px;
    background-color: white;
    
}